.q3 {
    width: 200px;
    margin: 50px;
    padding: 20px;
    border-radius: 25px;
    background-color: aliceblue;
    box-shadow: 0 4px 12px;
}
.z1 {
    text-align: center;
}
.l1 {
    margin-bottom: 15px;
    text-align: center;
}
.o1 {
    text-align: center;
    width: 200px;
    padding: 6px;
    border: 10px;
    border-radius: 10px;
    background-color: rgb(205, 205, 230);
}
.k1 {
    width: 100%;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    background-color: rgb(113, 182, 159);
}
.u1{ background-color: aqua;
width: 200px;}
.o2{ background-color: blanchedalmond;
    width: 200px;}